body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: #fff;
}

.container {
  position: relative;
  padding: 50px 0px;
  background: #fff;
  top: 15%;
  text-align: center;
}

h1 {
  margin: 0 auto 15px auto;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
  font-weight: normal;
  font-size: 32px;
  width: 500px;
}

.button {
  margin: 0;
  font-size: 20px;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  outline: none;
  display: inline-block;
  background-color: #fff;
  color: #646464;
  cursor: pointer;
  border: 0;
  border-radius: 50px;
  padding: 15px 45px;
  text-align: center;
  text-decoration: none !important;
  color: #fff;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1), background 0.1s linear;
  z-index: 1;
  position: relative;
  box-shadow: 0 15px 8px -10px rgba(187, 0, 0, 0.3333333333);
}

/* focus style */
.button.focus {
  background: #d00;
  box-shadow: 0 15px 8px -10px rgba(187, 0, 0, 0.3333333333);
  color: #fff;
}

.button.focus:hover {
  background: #e00;
}

/* short / long break style */
.button.short-break,
.button.long-break {
  background: green;
}

.button.short-break:hover,
.button.long-break:hover {
  opacity: 0.9;
}
